 .ai_amazonlex { content: url('./output.svg#ai_amazonlex'); }
 .ai_amazonmachinelearning { content: url('./output.svg#ai_amazonmachinelearning'); }
 .ai_amazonpolly { content: url('./output.svg#ai_amazonpolly'); }
 .ai_amazonrekognition { content: url('./output.svg#ai_amazonrekognition'); }
 .analytics_awsdatapipeline { content: url('./output.svg#analytics_awsdatapipeline'); }
 .analytics_awsglue { content: url('./output.svg#analytics_awsglue'); }
 .analytics_amazonathena { content: url('./output.svg#analytics_amazonathena'); }
 .analytics_amazoncloudsearch { content: url('./output.svg#analytics_amazoncloudsearch'); }
 .analytics_amazoncloudsearch_searchdocuments { content: url('./output.svg#analytics_amazoncloudsearch_searchdocuments'); }
 .analytics_amazonemr-hdfscluster { content: url('./output.svg#analytics_amazonemr-hdfscluster'); }
 .analytics_amazonemr { content: url('./output.svg#analytics_amazonemr'); }
 .analytics_amazonemr_emrengine { content: url('./output.svg#analytics_amazonemr_emrengine'); }
 .analytics_amazonemr_emrenginemaprm3 { content: url('./output.svg#analytics_amazonemr_emrenginemaprm3'); }
 .analytics_amazonemr_emrenginemaprm5 { content: url('./output.svg#analytics_amazonemr_emrenginemaprm5'); }
 .analytics_amazonemr_emrenginemaprm7 { content: url('./output.svg#analytics_amazonemr_emrenginemaprm7'); }
 .analytics_amazonemr_cluster { content: url('./output.svg#analytics_amazonemr_cluster'); }
 .analytics_amazones { content: url('./output.svg#analytics_amazones'); }
 .analytics_amazonkinesis { content: url('./output.svg#analytics_amazonkinesis'); }
 .analytics_amazonkinesis_amazonkinesis-enabledapp { content: url('./output.svg#analytics_amazonkinesis_amazonkinesis-enabledapp'); }
 .analytics_amazonkinesis_amazonkinesisanalytics { content: url('./output.svg#analytics_amazonkinesis_amazonkinesisanalytics'); }
 .analytics_amazonkinesis_amazonkinesisfirehose { content: url('./output.svg#analytics_amazonkinesis_amazonkinesisfirehose'); }
 .analytics_amazonkinesis_amazonkinesisstreams { content: url('./output.svg#analytics_amazonkinesis_amazonkinesisstreams'); }
 .analytics_amazonquicksight { content: url('./output.svg#analytics_amazonquicksight'); }
 .analytics_amazonredshift { content: url('./output.svg#analytics_amazonredshift'); }
 .analytics_amazonredshift_densecomputenode { content: url('./output.svg#analytics_amazonredshift_densecomputenode'); }
 .analytics_amazonredshift_densestoragenode { content: url('./output.svg#analytics_amazonredshift_densestoragenode'); }
 .applicationservices_awsstepfunctions { content: url('./output.svg#applicationservices_awsstepfunctions'); }
 .applicationservices_amazonapigateway { content: url('./output.svg#applicationservices_amazonapigateway'); }
 .applicationservices_amazonelastictranscoder { content: url('./output.svg#applicationservices_amazonelastictranscoder'); }
 .applicationservices_amazonswf { content: url('./output.svg#applicationservices_amazonswf'); }
 .applicationservices_amazonswf_decider { content: url('./output.svg#applicationservices_amazonswf_decider'); }
 .applicationservices_amazonswf_worker { content: url('./output.svg#applicationservices_amazonswf_worker'); }
 .businessproductivity_amazonchime { content: url('./output.svg#businessproductivity_amazonchime'); }
 .businessproductivity_amazonworkdocs { content: url('./output.svg#businessproductivity_amazonworkdocs'); }
 .businessproductivity_amazonworkmail { content: url('./output.svg#businessproductivity_amazonworkmail'); }
 .compute_awsbatch { content: url('./output.svg#compute_awsbatch'); }
 .compute_awselasticbeanstalk { content: url('./output.svg#compute_awselasticbeanstalk'); }
 .compute_awselasticbeanstalk_application { content: url('./output.svg#compute_awselasticbeanstalk_application'); }
 .compute_awselasticbeanstalk_deployment { content: url('./output.svg#compute_awselasticbeanstalk_deployment'); }
 .compute_awslambda { content: url('./output.svg#compute_awslambda'); }
 .compute_awslambda_lambdafunction { content: url('./output.svg#compute_awslambda_lambdafunction'); }
 .compute_amazonec2 { content: url('./output.svg#compute_amazonec2'); }
 .compute_amazonec2_ami { content: url('./output.svg#compute_amazonec2_ami'); }
 .compute_amazonec2_autoscaling { content: url('./output.svg#compute_amazonec2_autoscaling'); }
 .compute_amazonec2_dboninstance { content: url('./output.svg#compute_amazonec2_dboninstance'); }
 .compute_amazonec2_ec2rescue { content: url('./output.svg#compute_amazonec2_ec2rescue'); }
 .compute_amazonec2_elasticipaddress { content: url('./output.svg#compute_amazonec2_elasticipaddress'); }
 .compute_amazonec2_spotfleet { content: url('./output.svg#compute_amazonec2_spotfleet'); }
 .compute_amazonec2_spotinstance { content: url('./output.svg#compute_amazonec2_spotinstance'); }
 .compute_amazonec2_x1instance { content: url('./output.svg#compute_amazonec2_x1instance'); }
 .compute_amazonec2_instance { content: url('./output.svg#compute_amazonec2_instance'); }
 .compute_amazonec2_instances { content: url('./output.svg#compute_amazonec2_instances'); }
 .compute_amazonec2_instancewithcloudwatch { content: url('./output.svg#compute_amazonec2_instancewithcloudwatch'); }
 .compute_amazonec2_optimizedinstance { content: url('./output.svg#compute_amazonec2_optimizedinstance'); }
 .compute_amazonecr { content: url('./output.svg#compute_amazonecr'); }
 .compute_amazonecr_ecrregistry { content: url('./output.svg#compute_amazonecr_ecrregistry'); }
 .compute_amazonecs { content: url('./output.svg#compute_amazonecs'); }
 .compute_amazonecs_ecscontainer-alt1 { content: url('./output.svg#compute_amazonecs_ecscontainer-alt1'); }
 .compute_amazonecs_ecscontainer-alt2 { content: url('./output.svg#compute_amazonecs_ecscontainer-alt2'); }
 .compute_amazonecs_ecscontainer { content: url('./output.svg#compute_amazonecs_ecscontainer'); }
 .compute_amazonlightsail { content: url('./output.svg#compute_amazonlightsail'); }
 .compute_amazonvpc { content: url('./output.svg#compute_amazonvpc'); }
 .compute_amazonvpc_internetgateway { content: url('./output.svg#compute_amazonvpc_internetgateway'); }
 .compute_amazonvpc_vpcnatgateway { content: url('./output.svg#compute_amazonvpc_vpcnatgateway'); }
 .compute_amazonvpc_vpcpeering { content: url('./output.svg#compute_amazonvpc_vpcpeering'); }
 .compute_amazonvpc_vpnconnection { content: url('./output.svg#compute_amazonvpc_vpnconnection'); }
 .compute_amazonvpc_vpngateway { content: url('./output.svg#compute_amazonvpc_vpngateway'); }
 .compute_amazonvpc_customergateway { content: url('./output.svg#compute_amazonvpc_customergateway'); }
 .compute_amazonvpc_elasticnetworkadapter { content: url('./output.svg#compute_amazonvpc_elasticnetworkadapter'); }
 .compute_amazonvpc_elasticnetworkinterface { content: url('./output.svg#compute_amazonvpc_elasticnetworkinterface'); }
 .compute_amazonvpc_endpoints { content: url('./output.svg#compute_amazonvpc_endpoints'); }
 .compute_amazonvpc_flowlogs { content: url('./output.svg#compute_amazonvpc_flowlogs'); }
 .compute_amazonvpc_networkaccesscontrollist { content: url('./output.svg#compute_amazonvpc_networkaccesscontrollist'); }
 .compute_amazonvpc_router { content: url('./output.svg#compute_amazonvpc_router'); }
 .compute_elasticloadbalancing { content: url('./output.svg#compute_elasticloadbalancing'); }
 .compute_elasticloadbalancing_applicationloadbalancer { content: url('./output.svg#compute_elasticloadbalancing_applicationloadbalancer'); }
 .compute_elasticloadbalancing_elloadbalancer { content: url('./output.svg#compute_elasticloadbalancing_elloadbalancer'); }
 .contactcenter_amazonconnect { content: url('./output.svg#contactcenter_amazonconnect'); }
 .database_awsdms { content: url('./output.svg#database_awsdms'); }
 .database_awsdms_databasemigrationworkflowjob { content: url('./output.svg#database_awsdms_databasemigrationworkflowjob'); }
 .database_amazondynamodb { content: url('./output.svg#database_amazondynamodb'); }
 .database_amazondynamodbaccelerator { content: url('./output.svg#database_amazondynamodbaccelerator'); }
 .database_amazondynamodb_attribute { content: url('./output.svg#database_amazondynamodb_attribute'); }
 .database_amazondynamodb_attributes { content: url('./output.svg#database_amazondynamodb_attributes'); }
 .database_amazondynamodb_globalsecondaryindex { content: url('./output.svg#database_amazondynamodb_globalsecondaryindex'); }
 .database_amazondynamodb_item { content: url('./output.svg#database_amazondynamodb_item'); }
 .database_amazondynamodb_items { content: url('./output.svg#database_amazondynamodb_items'); }
 .database_amazondynamodb_table { content: url('./output.svg#database_amazondynamodb_table'); }
 .database_amazonelasticcache { content: url('./output.svg#database_amazonelasticcache'); }
 .database_amazonelasticcache_memcached { content: url('./output.svg#database_amazonelasticcache_memcached'); }
 .database_amazonelasticcache_redis { content: url('./output.svg#database_amazonelasticcache_redis'); }
 .database_amazonelasticcache_cachenode { content: url('./output.svg#database_amazonelasticcache_cachenode'); }
 .database_amazonrds { content: url('./output.svg#database_amazonrds'); }
 .database_amazonrds_dbinstance { content: url('./output.svg#database_amazonrds_dbinstance'); }
 .database_amazonrds_mssqlinstance { content: url('./output.svg#database_amazonrds_mssqlinstance'); }
 .database_amazonrds_mssqlinstancealternate { content: url('./output.svg#database_amazonrds_mssqlinstancealternate'); }
 .database_amazonrds_mysqldbinstance { content: url('./output.svg#database_amazonrds_mysqldbinstance'); }
 .database_amazonrds_mysqlinstancealternate { content: url('./output.svg#database_amazonrds_mysqlinstancealternate'); }
 .database_amazonrds_oracledbinstancealternate { content: url('./output.svg#database_amazonrds_oracledbinstancealternate'); }
 .database_amazonrds_piop { content: url('./output.svg#database_amazonrds_piop'); }
 .database_amazonrds_postgresqlinstance { content: url('./output.svg#database_amazonrds_postgresqlinstance'); }
 .database_amazonrds_sqlmaster { content: url('./output.svg#database_amazonrds_sqlmaster'); }
 .database_amazonrds_sqlslave { content: url('./output.svg#database_amazonrds_sqlslave'); }
 .database_amazonrds_instancereadreplica { content: url('./output.svg#database_amazonrds_instancereadreplica'); }
 .database_amazonrds_instancestandby { content: url('./output.svg#database_amazonrds_instancestandby'); }
 .database_amazonrds_oracledbinstance { content: url('./output.svg#database_amazonrds_oracledbinstance'); }
 .database_amazonredshift { content: url('./output.svg#database_amazonredshift'); }
 .database_amazonredshift_densecomputenode { content: url('./output.svg#database_amazonredshift_densecomputenode'); }
 .database_amazonredshift_densestoragenode { content: url('./output.svg#database_amazonredshift_densestoragenode'); }
 .desktopappstreaming_amazonappstream2_0 { content: url('./output.svg#desktopappstreaming_amazonappstream2_0'); }
 .desktopappstreaming_amazonworkspaces { content: url('./output.svg#desktopappstreaming_amazonworkspaces'); }
 .developertools_awscodebuild { content: url('./output.svg#developertools_awscodebuild'); }
 .developertools_awscodecommit { content: url('./output.svg#developertools_awscodecommit'); }
 .developertools_awscodedeploy { content: url('./output.svg#developertools_awscodedeploy'); }
 .developertools_awscodepipeline { content: url('./output.svg#developertools_awscodepipeline'); }
 .developertools_awscodestar { content: url('./output.svg#developertools_awscodestar'); }
 .developertools_awsx-ray { content: url('./output.svg#developertools_awsx-ray'); }
 .ai_grayscale_amazonlex { content: url('./output.svg#ai_grayscale_amazonlex'); }
 .ai_grayscale_amazonmachinelearning { content: url('./output.svg#ai_grayscale_amazonmachinelearning'); }
 .ai_grayscale_amazonpolly { content: url('./output.svg#ai_grayscale_amazonpolly'); }
 .ai_grayscale_amazonrekognition { content: url('./output.svg#ai_grayscale_amazonrekognition'); }
 .analytics_grayscale_awsdatapipeline { content: url('./output.svg#analytics_grayscale_awsdatapipeline'); }
 .analytics_grayscale_awsglue { content: url('./output.svg#analytics_grayscale_awsglue'); }
 .analytics_grayscale_amazonathena { content: url('./output.svg#analytics_grayscale_amazonathena'); }
 .analytics_grayscale_amazoncloudsearch { content: url('./output.svg#analytics_grayscale_amazoncloudsearch'); }
 .analytics_grayscale_amazonemr { content: url('./output.svg#analytics_grayscale_amazonemr'); }
 .analytics_grayscale_amazones { content: url('./output.svg#analytics_grayscale_amazones'); }
 .analytics_grayscale_amazonkinesis { content: url('./output.svg#analytics_grayscale_amazonkinesis'); }
 .analytics_grayscale_amazonquicksight { content: url('./output.svg#analytics_grayscale_amazonquicksight'); }
 .analytics_grayscale_amazonredshift { content: url('./output.svg#analytics_grayscale_amazonredshift'); }
 .applicationservices_grayscale_awsstepfunction { content: url('./output.svg#applicationservices_grayscale_awsstepfunction'); }
 .applicationservices_grayscale_amazonapigateway { content: url('./output.svg#applicationservices_grayscale_amazonapigateway'); }
 .applicationservices_grayscale_amazonappstream { content: url('./output.svg#applicationservices_grayscale_amazonappstream'); }
 .applicationservices_grayscale_amazonelastictranscoder { content: url('./output.svg#applicationservices_grayscale_amazonelastictranscoder'); }
 .messaging_grayscale_amazonswf { content: url('./output.svg#messaging_grayscale_amazonswf'); }
 .businessproductivity_grayscale-amazonchime { content: url('./output.svg#businessproductivity_grayscale-amazonchime'); }
 .businessproductivity_grayscale_amazonworkdocs { content: url('./output.svg#businessproductivity_grayscale_amazonworkdocs'); }
 .businessproductivity_grayscale_amazonworkmail { content: url('./output.svg#businessproductivity_grayscale_amazonworkmail'); }
 .compute_grayscale_awsbatch { content: url('./output.svg#compute_grayscale_awsbatch'); }
 .compute_grayscale_awselasticbeanstalk { content: url('./output.svg#compute_grayscale_awselasticbeanstalk'); }
 .compute_grayscale_awslambda { content: url('./output.svg#compute_grayscale_awslambda'); }
 .compute_grayscale_amazonec2 { content: url('./output.svg#compute_grayscale_amazonec2'); }
 .compute_grayscale_amazonecr { content: url('./output.svg#compute_grayscale_amazonecr'); }
 .compute_grayscale_amazonecs { content: url('./output.svg#compute_grayscale_amazonecs'); }
 .compute_grayscale_amazonlightsail { content: url('./output.svg#compute_grayscale_amazonlightsail'); }
 .compute_grayscale_amazonvpc { content: url('./output.svg#compute_grayscale_amazonvpc'); }
 .compute_grayscale_elasticloadbalancing { content: url('./output.svg#compute_grayscale_elasticloadbalancing'); }
 .contactcenter_grayscale_amazonconnect { content: url('./output.svg#contactcenter_grayscale_amazonconnect'); }
 .database_grayscale_awsdms { content: url('./output.svg#database_grayscale_awsdms'); }
 .database_grayscale_amazondynamodb { content: url('./output.svg#database_grayscale_amazondynamodb'); }
 .database_grayscale_amazondynamodbaccelerator { content: url('./output.svg#database_grayscale_amazondynamodbaccelerator'); }
 .database_grayscale_amazonelasticcache { content: url('./output.svg#database_grayscale_amazonelasticcache'); }
 .database_grayscale_amazonrds { content: url('./output.svg#database_grayscale_amazonrds'); }
 .database_grayscale_amazonredshift { content: url('./output.svg#database_grayscale_amazonredshift'); }
 .desktopappstreaming_grayscale_amazonappstream2_0 { content: url('./output.svg#desktopappstreaming_grayscale_amazonappstream2_0'); }
 .desktopappstreaming_grayscale_amazonworkspaces { content: url('./output.svg#desktopappstreaming_grayscale_amazonworkspaces'); }
 .developertools_grayscale_awscodebuild { content: url('./output.svg#developertools_grayscale_awscodebuild'); }
 .developertools_grayscale_awscodecommit { content: url('./output.svg#developertools_grayscale_awscodecommit'); }
 .developertools_grayscale_awscodedeploy { content: url('./output.svg#developertools_grayscale_awscodedeploy'); }
 .developertools_grayscale_awscodepipeline { content: url('./output.svg#developertools_grayscale_awscodepipeline'); }
 .developertools_grayscale_awscodestar { content: url('./output.svg#developertools_grayscale_awscodestar'); }
 .developertools_grayscale_awsx-ray { content: url('./output.svg#developertools_grayscale_awsx-ray'); }
 .gamedevelopment_grayscale_amazongamelift { content: url('./output.svg#gamedevelopment_grayscale_amazongamelift'); }
 .internetofthings_grayscale_awsgreengrass { content: url('./output.svg#internetofthings_grayscale_awsgreengrass'); }
 .internetofthings_grayscale_awsiot { content: url('./output.svg#internetofthings_grayscale_awsiot'); }
 .managementtools_grayscale_awscloudformation { content: url('./output.svg#managementtools_grayscale_awscloudformation'); }
 .managementtools_grayscale_awscloudtrail { content: url('./output.svg#managementtools_grayscale_awscloudtrail'); }
 .managementtools_grayscale_awsconfig { content: url('./output.svg#managementtools_grayscale_awsconfig'); }
 .managementtools_grayscale_awsmanagedservices { content: url('./output.svg#managementtools_grayscale_awsmanagedservices'); }
 .managementtools_grayscale_awsopsworks { content: url('./output.svg#managementtools_grayscale_awsopsworks'); }
 .managementtools_grayscale_awsservicecatalog { content: url('./output.svg#managementtools_grayscale_awsservicecatalog'); }
 .managementtools_grayscale_awstrustedadvisor { content: url('./output.svg#managementtools_grayscale_awstrustedadvisor'); }
 .managementtools_grayscale_amazoncloudwatch { content: url('./output.svg#managementtools_grayscale_amazoncloudwatch'); }
 .managementtools_grayscale_amazonec2systemsmanager { content: url('./output.svg#managementtools_grayscale_amazonec2systemsmanager'); }
 .messaging_grayscale_amazonpinpoint { content: url('./output.svg#messaging_grayscale_amazonpinpoint'); }
 .messaging_grayscale_amazonses { content: url('./output.svg#messaging_grayscale_amazonses'); }
 .messaging_grayscale_amazonsns { content: url('./output.svg#messaging_grayscale_amazonsns'); }
 .messaging_grayscale_amazonsqs { content: url('./output.svg#messaging_grayscale_amazonsqs'); }
 .migration_grayscale_awsapplicationdiscoveryservice { content: url('./output.svg#migration_grayscale_awsapplicationdiscoveryservice'); }
 .migration_grayscale_awsdms { content: url('./output.svg#migration_grayscale_awsdms'); }
 .migration_grayscale_awsmigrationhub { content: url('./output.svg#migration_grayscale_awsmigrationhub'); }
 .migration_grayscale_awssms { content: url('./output.svg#migration_grayscale_awssms'); }
 .migration_grayscale_awssnowball { content: url('./output.svg#migration_grayscale_awssnowball'); }
 .mobileservices_grayscale_awsdevicefarm { content: url('./output.svg#mobileservices_grayscale_awsdevicefarm'); }
 .mobileservices_grayscale_awsmobilehub { content: url('./output.svg#mobileservices_grayscale_awsmobilehub'); }
 .mobileservices_grayscale_amazonapigateway { content: url('./output.svg#mobileservices_grayscale_amazonapigateway'); }
 .mobileservices_grayscale_amazoncognito { content: url('./output.svg#mobileservices_grayscale_amazoncognito'); }
 .mobileservices_grayscale_amazonmobileanalytics { content: url('./output.svg#mobileservices_grayscale_amazonmobileanalytics'); }
 .mobileservices_grayscale_amazonpinpoint { content: url('./output.svg#mobileservices_grayscale_amazonpinpoint'); }
 .networkingcontentdelivery_grayscale_awsdirectconnect { content: url('./output.svg#networkingcontentdelivery_grayscale_awsdirectconnect'); }
 .networkingcontentdelivery_grayscale_amazoncloudfront { content: url('./output.svg#networkingcontentdelivery_grayscale_amazoncloudfront'); }
 .networkingcontentdelivery_grayscale_amazonroute53 { content: url('./output.svg#networkingcontentdelivery_grayscale_amazonroute53'); }
 .networkingcontentdelivery_grayscale_amazonvpc { content: url('./output.svg#networkingcontentdelivery_grayscale_amazonvpc'); }
 .networkingcontentdelivery_grayscale_elasticloadbalancing { content: url('./output.svg#networkingcontentdelivery_grayscale_elasticloadbalancing'); }
 .securityidentitycompliance_grayscale_awsartifact { content: url('./output.svg#securityidentitycompliance_grayscale_awsartifact'); }
 .securityidentitycompliance_grayscale_awscertificatemanager { content: url('./output.svg#securityidentitycompliance_grayscale_awscertificatemanager'); }
 .securityidentitycompliance_grayscale_awscloudhsm { content: url('./output.svg#securityidentitycompliance_grayscale_awscloudhsm'); }
 .securityidentitycompliance_grayscale_awsdirectoryservice { content: url('./output.svg#securityidentitycompliance_grayscale_awsdirectoryservice'); }
 .securityidentitycompliance_grayscale_awskms { content: url('./output.svg#securityidentitycompliance_grayscale_awskms'); }
 .securityidentitycompliance_grayscale_awsorganizations { content: url('./output.svg#securityidentitycompliance_grayscale_awsorganizations'); }
 .securityidentitycompliance_grayscale_awsshield { content: url('./output.svg#securityidentitycompliance_grayscale_awsshield'); }
 .securityidentitycompliance_grayscale_awswaf { content: url('./output.svg#securityidentitycompliance_grayscale_awswaf'); }
 .securityidentitycompliance_grayscale_amazon-macie { content: url('./output.svg#securityidentitycompliance_grayscale_amazon-macie'); }
 .securityidentitycompliance_grayscale_amazonclouddirectoryservice { content: url('./output.svg#securityidentitycompliance_grayscale_amazonclouddirectoryservice'); }
 .securityidentitycompliance_grayscale_amazoninspector { content: url('./output.svg#securityidentitycompliance_grayscale_amazoninspector'); }
 .securityidentitycompliance_grayscale_iam { content: url('./output.svg#securityidentitycompliance_grayscale_iam'); }
 .storage_grayscale_awssnowball { content: url('./output.svg#storage_grayscale_awssnowball'); }
 .storage_grayscale_awsstoragegateway { content: url('./output.svg#storage_grayscale_awsstoragegateway'); }
 .storage_grayscale_amazonefs { content: url('./output.svg#storage_grayscale_amazonefs'); }
 .storage_grayscale_amazonglacier { content: url('./output.svg#storage_grayscale_amazonglacier'); }
 .storage_grayscale_amazons3 { content: url('./output.svg#storage_grayscale_amazons3'); }
 .gamedevelopment_amazongamelift { content: url('./output.svg#gamedevelopment_amazongamelift'); }
 .general_awsmanagementconsole { content: url('./output.svg#general_awsmanagementconsole'); }
 .general_awscloud { content: url('./output.svg#general_awscloud'); }
 .general_internet { content: url('./output.svg#general_internet'); }
 .general_internetalternate1 { content: url('./output.svg#general_internetalternate1'); }
 .general_internetalternate2 { content: url('./output.svg#general_internetalternate2'); }
 .general_samltoken { content: url('./output.svg#general_samltoken'); }
 .general_sslpadlock { content: url('./output.svg#general_sslpadlock'); }
 .general_client { content: url('./output.svg#general_client'); }
 .general_corporatedatacenter { content: url('./output.svg#general_corporatedatacenter'); }
 .general_disk { content: url('./output.svg#general_disk'); }
 .general_forums { content: url('./output.svg#general_forums'); }
 .general_genericdatabase { content: url('./output.svg#general_genericdatabase'); }
 .general_mobileclient { content: url('./output.svg#general_mobileclient'); }
 .general_multimedia { content: url('./output.svg#general_multimedia'); }
 .general_officebuilding { content: url('./output.svg#general_officebuilding'); }
 .general_tapestorage { content: url('./output.svg#general_tapestorage'); }
 .general_traditionalserver { content: url('./output.svg#general_traditionalserver'); }
 .general_user { content: url('./output.svg#general_user'); }
 .general_users { content: url('./output.svg#general_users'); }
 .general_virtualprivatecloud { content: url('./output.svg#general_virtualprivatecloud'); }
 .internetofthings_awsiot { content: url('./output.svg#internetofthings_awsiot'); }
 .internetofthings_awsiot_avsenableddevice { content: url('./output.svg#internetofthings_awsiot_avsenableddevice'); }
 .internetofthings_awsiot_awsgreengrass { content: url('./output.svg#internetofthings_awsiot_awsgreengrass'); }
 .internetofthings_awsiot_awsiot { content: url('./output.svg#internetofthings_awsiot_awsiot'); }
 .internetofthings_awsiot_http2protocol { content: url('./output.svg#internetofthings_awsiot_http2protocol'); }
 .internetofthings_awsiot_httpprotocol { content: url('./output.svg#internetofthings_awsiot_httpprotocol'); }
 .internetofthings_awsiot_mqttprotocol { content: url('./output.svg#internetofthings_awsiot_mqttprotocol'); }
 .internetofthings_awsiot_action { content: url('./output.svg#internetofthings_awsiot_action'); }
 .internetofthings_awsiot_actuator { content: url('./output.svg#internetofthings_awsiot_actuator'); }
 .internetofthings_awsiot_alexaskill { content: url('./output.svg#internetofthings_awsiot_alexaskill'); }
 .internetofthings_awsiot_alexasmarthomeskill { content: url('./output.svg#internetofthings_awsiot_alexasmarthomeskill'); }
 .internetofthings_awsiot_alexavoiceservice { content: url('./output.svg#internetofthings_awsiot_alexavoiceservice'); }
 .internetofthings_awsiot_certificate { content: url('./output.svg#internetofthings_awsiot_certificate'); }
 .internetofthings_awsiot_desiredstate { content: url('./output.svg#internetofthings_awsiot_desiredstate'); }
 .internetofthings_awsiot_echo { content: url('./output.svg#internetofthings_awsiot_echo'); }
 .internetofthings_awsiot_firetv { content: url('./output.svg#internetofthings_awsiot_firetv'); }
 .internetofthings_awsiot_firetvstick { content: url('./output.svg#internetofthings_awsiot_firetvstick'); }
 .internetofthings_awsiot_hardwareboard { content: url('./output.svg#internetofthings_awsiot_hardwareboard'); }
 .internetofthings_awsiot_lambdafunction { content: url('./output.svg#internetofthings_awsiot_lambdafunction'); }
 .internetofthings_awsiot_policy { content: url('./output.svg#internetofthings_awsiot_policy'); }
 .internetofthings_awsiot_reportedstate { content: url('./output.svg#internetofthings_awsiot_reportedstate'); }
 .internetofthings_awsiot_rule { content: url('./output.svg#internetofthings_awsiot_rule'); }
 .internetofthings_awsiot_sensor { content: url('./output.svg#internetofthings_awsiot_sensor'); }
 .internetofthings_awsiot_servo { content: url('./output.svg#internetofthings_awsiot_servo'); }
 .internetofthings_awsiot_shadow { content: url('./output.svg#internetofthings_awsiot_shadow'); }
 .internetofthings_awsiot_simulator { content: url('./output.svg#internetofthings_awsiot_simulator'); }
 .internetofthings_awsiot_thingbank { content: url('./output.svg#internetofthings_awsiot_thingbank'); }
 .internetofthings_awsiot_thingbicycle { content: url('./output.svg#internetofthings_awsiot_thingbicycle'); }
 .internetofthings_awsiot_thingcamera { content: url('./output.svg#internetofthings_awsiot_thingcamera'); }
 .internetofthings_awsiot_thingcar { content: url('./output.svg#internetofthings_awsiot_thingcar'); }
 .internetofthings_awsiot_thingcart { content: url('./output.svg#internetofthings_awsiot_thingcart'); }
 .internetofthings_awsiot_thingcoffeepot { content: url('./output.svg#internetofthings_awsiot_thingcoffeepot'); }
 .internetofthings_awsiot_thingdoorlock { content: url('./output.svg#internetofthings_awsiot_thingdoorlock'); }
 .internetofthings_awsiot_thingfactory { content: url('./output.svg#internetofthings_awsiot_thingfactory'); }
 .internetofthings_awsiot_thinggeneric { content: url('./output.svg#internetofthings_awsiot_thinggeneric'); }
 .internetofthings_awsiot_thinghouse { content: url('./output.svg#internetofthings_awsiot_thinghouse'); }
 .internetofthings_awsiot_thinglightbulb { content: url('./output.svg#internetofthings_awsiot_thinglightbulb'); }
 .internetofthings_awsiot_thingmedicalemergency { content: url('./output.svg#internetofthings_awsiot_thingmedicalemergency'); }
 .internetofthings_awsiot_thingpoliceemergency { content: url('./output.svg#internetofthings_awsiot_thingpoliceemergency'); }
 .internetofthings_awsiot_thingthermostat { content: url('./output.svg#internetofthings_awsiot_thingthermostat'); }
 .internetofthings_awsiot_thingtravel { content: url('./output.svg#internetofthings_awsiot_thingtravel'); }
 .internetofthings_awsiot_thingutility { content: url('./output.svg#internetofthings_awsiot_thingutility'); }
 .internetofthings_awsiot_thingwindfarm { content: url('./output.svg#internetofthings_awsiot_thingwindfarm'); }
 .internetofthings_awsiot_topic { content: url('./output.svg#internetofthings_awsiot_topic'); }
 .managementtools_awscloudformation { content: url('./output.svg#managementtools_awscloudformation'); }
 .managementtools_awscloudformation_changeset { content: url('./output.svg#managementtools_awscloudformation_changeset'); }
 .managementtools_awscloudformation_stack { content: url('./output.svg#managementtools_awscloudformation_stack'); }
 .managementtools_awscloudformation_template { content: url('./output.svg#managementtools_awscloudformation_template'); }
 .managementtools_awscloudtrail { content: url('./output.svg#managementtools_awscloudtrail'); }
 .managementtools_awsconfig { content: url('./output.svg#managementtools_awsconfig'); }
 .managementtools_awsmanagedservices { content: url('./output.svg#managementtools_awsmanagedservices'); }
 .managementtools_awsopsworks { content: url('./output.svg#managementtools_awsopsworks'); }
 .managementtools_awsopsworks_apps { content: url('./output.svg#managementtools_awsopsworks_apps'); }
 .managementtools_awsopsworks_deployments { content: url('./output.svg#managementtools_awsopsworks_deployments'); }
 .managementtools_awsopsworks_instances { content: url('./output.svg#managementtools_awsopsworks_instances'); }
 .managementtools_awsopsworks_layers { content: url('./output.svg#managementtools_awsopsworks_layers'); }
 .managementtools_awsopsworks_monitoring { content: url('./output.svg#managementtools_awsopsworks_monitoring'); }
 .managementtools_awsopsworks_permissions { content: url('./output.svg#managementtools_awsopsworks_permissions'); }
 .managementtools_awsopsworks_resources { content: url('./output.svg#managementtools_awsopsworks_resources'); }
 .managementtools_awsopsworks_stack { content: url('./output.svg#managementtools_awsopsworks_stack'); }
 .managementtools_awsservicecatalog { content: url('./output.svg#managementtools_awsservicecatalog'); }
 .managementtools_awstrustedadvisor { content: url('./output.svg#managementtools_awstrustedadvisor'); }
 .managementtools_awstrustedadvisor_checklist { content: url('./output.svg#managementtools_awstrustedadvisor_checklist'); }
 .managementtools_awstrustedadvisor_checklistcost { content: url('./output.svg#managementtools_awstrustedadvisor_checklistcost'); }
 .managementtools_awstrustedadvisor_checklistfaulttolerance { content: url('./output.svg#managementtools_awstrustedadvisor_checklistfaulttolerance'); }
 .managementtools_awstrustedadvisor_checklistperformance { content: url('./output.svg#managementtools_awstrustedadvisor_checklistperformance'); }
 .managementtools_awstrustedadvisor_checklistsecurity { content: url('./output.svg#managementtools_awstrustedadvisor_checklistsecurity'); }
 .managementtools_amazoncloudwatch { content: url('./output.svg#managementtools_amazoncloudwatch'); }
 .managementtools_amazoncloudwatch_alarm { content: url('./output.svg#managementtools_amazoncloudwatch_alarm'); }
 .managementtools_amazoncloudwatch_eventeventbased { content: url('./output.svg#managementtools_amazoncloudwatch_eventeventbased'); }
 .managementtools_amazoncloudwatch_eventtimebased { content: url('./output.svg#managementtools_amazoncloudwatch_eventtimebased'); }
 .managementtools_amazoncloudwatch_rule { content: url('./output.svg#managementtools_amazoncloudwatch_rule'); }
 .managementtools_amazonec2systemsmanager { content: url('./output.svg#managementtools_amazonec2systemsmanager'); }
 .managementtools_amazonec2systemsmanager_automation { content: url('./output.svg#managementtools_amazonec2systemsmanager_automation'); }
 .managementtools_amazonec2systemsmanager_inventory { content: url('./output.svg#managementtools_amazonec2systemsmanager_inventory'); }
 .managementtools_amazonec2systemsmanager_maintenancewindow { content: url('./output.svg#managementtools_amazonec2systemsmanager_maintenancewindow'); }
 .managementtools_amazonec2systemsmanager_parameterstore { content: url('./output.svg#managementtools_amazonec2systemsmanager_parameterstore'); }
 .managementtools_amazonec2systemsmanager_patchmanager { content: url('./output.svg#managementtools_amazonec2systemsmanager_patchmanager'); }
 .managementtools_amazonec2systemsmanager_runc ommand { content: url('./output.svg#managementtools_amazonec2systemsmanager_runc ommand'); }
 .managementtools_amazonec2systemsmanager_runcommand { content: url('./output.svg#managementtools_amazonec2systemsmanager_runcommand'); }
 .managementtools_amazonec2systemsmanager_statemanager { content: url('./output.svg#managementtools_amazonec2systemsmanager_statemanager'); }
 .managementtools_amazonec2systemsmanager_statemmanager { content: url('./output.svg#managementtools_amazonec2systemsmanager_statemmanager'); }
 .managementtools_amazonec2systemsmanager_documents { content: url('./output.svg#managementtools_amazonec2systemsmanager_documents'); }
 .messaging_amazonpinpoint { content: url('./output.svg#messaging_amazonpinpoint'); }
 .messaging_amazonses { content: url('./output.svg#messaging_amazonses'); }
 .messaging_amazonses_email { content: url('./output.svg#messaging_amazonses_email'); }
 .messaging_amazonsns { content: url('./output.svg#messaging_amazonsns'); }
 .messaging_amazonsns_httpnotification { content: url('./output.svg#messaging_amazonsns_httpnotification'); }
 .messaging_amazonsns_emailnotification { content: url('./output.svg#messaging_amazonsns_emailnotification'); }
 .messaging_amazonsns_topic { content: url('./output.svg#messaging_amazonsns_topic'); }
 .messaging_amazonsqs { content: url('./output.svg#messaging_amazonsqs'); }
 .messaging_amazonsqs_message { content: url('./output.svg#messaging_amazonsqs_message'); }
 .messaging_amazonsqs_queue { content: url('./output.svg#messaging_amazonsqs_queue'); }
 .migration_awsapplicationdiscoveryservice { content: url('./output.svg#migration_awsapplicationdiscoveryservice'); }
 .migration_awsdms { content: url('./output.svg#migration_awsdms'); }
 .migration_awsdms_databasemigrationworkflow-job { content: url('./output.svg#migration_awsdms_databasemigrationworkflow-job'); }
 .migration_awsmigrationhub { content: url('./output.svg#migration_awsmigrationhub'); }
 .migration_awssms { content: url('./output.svg#migration_awssms'); }
 .migration_awssnowball { content: url('./output.svg#migration_awssnowball'); }
 .migration_awssnowball_importexport { content: url('./output.svg#migration_awssnowball_importexport'); }
 .mobileservices_awsdevicefarm { content: url('./output.svg#mobileservices_awsdevicefarm'); }
 .mobileservices_awsmobilehub { content: url('./output.svg#mobileservices_awsmobilehub'); }
 .mobileservices_amazonapigateway { content: url('./output.svg#mobileservices_amazonapigateway'); }
 .mobileservices_amazoncognito { content: url('./output.svg#mobileservices_amazoncognito'); }
 .mobileservices_amazonmobileanalytics { content: url('./output.svg#mobileservices_amazonmobileanalytics'); }
 .mobileservices_amazonpinpoint { content: url('./output.svg#mobileservices_amazonpinpoint'); }
 .networkingcontentdelivery_awsdirectconnect { content: url('./output.svg#networkingcontentdelivery_awsdirectconnect'); }
 .networkingcontentdelivery_amazoncloudfront { content: url('./output.svg#networkingcontentdelivery_amazoncloudfront'); }
 .networkingcontentdelivery_amazoncloudfront_downloaddistribution { content: url('./output.svg#networkingcontentdelivery_amazoncloudfront_downloaddistribution'); }
 .networkingcontentdelivery_amazoncloudfront_edgelocation { content: url('./output.svg#networkingcontentdelivery_amazoncloudfront_edgelocation'); }
 .networkingcontentdelivery_amazoncloudfront_streamingdistribution { content: url('./output.svg#networkingcontentdelivery_amazoncloudfront_streamingdistribution'); }
 .networkingcontentdelivery_amazonroute53 { content: url('./output.svg#networkingcontentdelivery_amazonroute53'); }
 .networkingcontentdelivery_amazonroute53_hostedzone { content: url('./output.svg#networkingcontentdelivery_amazonroute53_hostedzone'); }
 .networkingcontentdelivery_amazonroute53_routetable { content: url('./output.svg#networkingcontentdelivery_amazonroute53_routetable'); }
 .networkingcontentdelivery_amazonvpc { content: url('./output.svg#networkingcontentdelivery_amazonvpc'); }
 .networkingcontentdelivery_amazonvpc_vpcnatgateway { content: url('./output.svg#networkingcontentdelivery_amazonvpc_vpcnatgateway'); }
 .networkingcontentdelivery_amazonvpc_vpcpeering { content: url('./output.svg#networkingcontentdelivery_amazonvpc_vpcpeering'); }
 .networkingcontentdelivery_amazonvpc_vpnconnection { content: url('./output.svg#networkingcontentdelivery_amazonvpc_vpnconnection'); }
 .networkingcontentdelivery_amazonvpc_vpngateway { content: url('./output.svg#networkingcontentdelivery_amazonvpc_vpngateway'); }
 .networkingcontentdelivery_amazonvpc_customergateway { content: url('./output.svg#networkingcontentdelivery_amazonvpc_customergateway'); }
 .networkingcontentdelivery_amazonvpc_elasticnetworkadapter { content: url('./output.svg#networkingcontentdelivery_amazonvpc_elasticnetworkadapter'); }
 .networkingcontentdelivery_amazonvpc_elasticnetworkinterface { content: url('./output.svg#networkingcontentdelivery_amazonvpc_elasticnetworkinterface'); }
 .networkingcontentdelivery_amazonvpc_endpoints { content: url('./output.svg#networkingcontentdelivery_amazonvpc_endpoints'); }
 .networkingcontentdelivery_amazonvpc_flowlogs { content: url('./output.svg#networkingcontentdelivery_amazonvpc_flowlogs'); }
 .networkingcontentdelivery_amazonvpc_internetgateway { content: url('./output.svg#networkingcontentdelivery_amazonvpc_internetgateway'); }
 .networkingcontentdelivery_amazonvpc_networkaccesscontrollist { content: url('./output.svg#networkingcontentdelivery_amazonvpc_networkaccesscontrollist'); }
 .networkingcontentdelivery_amazonvpc_router { content: url('./output.svg#networkingcontentdelivery_amazonvpc_router'); }
 .networkingcontentdelivery_elasticloadbalancing { content: url('./output.svg#networkingcontentdelivery_elasticloadbalancing'); }
 .networkingcontentdelivery_elasticloadbalancing_applicationloadbalancer { content: url('./output.svg#networkingcontentdelivery_elasticloadbalancing_applicationloadbalancer'); }
 .networkingcontentdelivery_elasticloadbalancing_classicloadbalancer { content: url('./output.svg#networkingcontentdelivery_elasticloadbalancing_classicloadbalancer'); }
 .ondemandworkforce_amazonmechanicalturk { content: url('./output.svg#ondemandworkforce_amazonmechanicalturk'); }
 .ondemandworkforce_amazonmechanicalturk_assignmenttask { content: url('./output.svg#ondemandworkforce_amazonmechanicalturk_assignmenttask'); }
 .ondemandworkforce_amazonmechanicalturk_humanintelligencetasks { content: url('./output.svg#ondemandworkforce_amazonmechanicalturk_humanintelligencetasks'); }
 .ondemandworkforce_amazonmechanicalturk_requester { content: url('./output.svg#ondemandworkforce_amazonmechanicalturk_requester'); }
 .ondemandworkforce_amazonmechanicalturk_workers { content: url('./output.svg#ondemandworkforce_amazonmechanicalturk_workers'); }
 .sdks_awscli { content: url('./output.svg#sdks_awscli'); }
 .sdks_awstoolkitforeclipse { content: url('./output.svg#sdks_awstoolkitforeclipse'); }
 .sdks_awstoolkitforvisualstudio { content: url('./output.svg#sdks_awstoolkitforvisualstudio'); }
 .sdks_awstoolsforwindowspowershell { content: url('./output.svg#sdks_awstoolsforwindowspowershell'); }
 .sdks_android { content: url('./output.svg#sdks_android'); }
 .sdks_java { content: url('./output.svg#sdks_java'); }
 .sdks_javascript { content: url('./output.svg#sdks_javascript'); }
 .sdks_net { content: url('./output.svg#sdks_net'); }
 .sdks_nodejs { content: url('./output.svg#sdks_nodejs'); }
 .sdks_php { content: url('./output.svg#sdks_php'); }
 .sdks_python { content: url('./output.svg#sdks_python'); }
 .sdks_ruby { content: url('./output.svg#sdks_ruby'); }
 .sdks_xamarin { content: url('./output.svg#sdks_xamarin'); }
 .sdks_ios { content: url('./output.svg#sdks_ios'); }
 .securityidentitycompliance_acm_certificatemanager { content: url('./output.svg#securityidentitycompliance_acm_certificatemanager'); }
 .securityidentitycompliance_awsartifact { content: url('./output.svg#securityidentitycompliance_awsartifact'); }
 .securityidentitycompliance_awscertificatemanager { content: url('./output.svg#securityidentitycompliance_awscertificatemanager'); }
 .securityidentitycompliance_awscertificatemanager_certificatemanager { content: url('./output.svg#securityidentitycompliance_awscertificatemanager_certificatemanager'); }
 .securityidentitycompliance_awscloudhsm { content: url('./output.svg#securityidentitycompliance_awscloudhsm'); }
 .securityidentitycompliance_awsdirectoryservice { content: url('./output.svg#securityidentitycompliance_awsdirectoryservice'); }
 .securityidentitycompliance_awsiam { content: url('./output.svg#securityidentitycompliance_awsiam'); }
 .securityidentitycompliance_awsiam_awssts-2 { content: url('./output.svg#securityidentitycompliance_awsiam_awssts-2'); }
 .securityidentitycompliance_awsiam_awssts { content: url('./output.svg#securityidentitycompliance_awsiam_awssts'); }
 .securityidentitycompliance_awsiam_addon { content: url('./output.svg#securityidentitycompliance_awsiam_addon'); }
 .securityidentitycompliance_awsiam_dataencryptionkey { content: url('./output.svg#securityidentitycompliance_awsiam_dataencryptionkey'); }
 .securityidentitycompliance_awsiam_encrypteddata { content: url('./output.svg#securityidentitycompliance_awsiam_encrypteddata'); }
 .securityidentitycompliance_awskms { content: url('./output.svg#securityidentitycompliance_awskms'); }
 .securityidentitycompliance_awsorganizations { content: url('./output.svg#securityidentitycompliance_awsorganizations'); }
 .securityidentitycompliance_awsshield { content: url('./output.svg#securityidentitycompliance_awsshield'); }
 .securityidentitycompliance_awswaf { content: url('./output.svg#securityidentitycompliance_awswaf'); }
 .securityidentitycompliance_awswaf_filteringrule { content: url('./output.svg#securityidentitycompliance_awswaf_filteringrule'); }
 .securityidentitycompliance_amazonclouddirectory { content: url('./output.svg#securityidentitycompliance_amazonclouddirectory'); }
 .securityidentitycompliance_amazoninspector { content: url('./output.svg#securityidentitycompliance_amazoninspector'); }
 .securityidentitycompliance_amazoninspector_agent { content: url('./output.svg#securityidentitycompliance_amazoninspector_agent'); }
 .securityidentitycompliance_amazonmacie { content: url('./output.svg#securityidentitycompliance_amazonmacie'); }
 .securityidentitycompliance_iam { content: url('./output.svg#securityidentitycompliance_iam'); }
 .securityidentitycompliance_iam_awssts-2 { content: url('./output.svg#securityidentitycompliance_iam_awssts-2'); }
 .securityidentitycompliance_iam_awssts { content: url('./output.svg#securityidentitycompliance_iam_awssts'); }
 .securityidentitycompliance_iam_mfatoken { content: url('./output.svg#securityidentitycompliance_iam_mfatoken'); }
 .securityidentitycompliance_iam_addon { content: url('./output.svg#securityidentitycompliance_iam_addon'); }
 .securityidentitycompliance_iam_dataencryptionkey { content: url('./output.svg#securityidentitycompliance_iam_dataencryptionkey'); }
 .securityidentitycompliance_iam_encrypteddata { content: url('./output.svg#securityidentitycompliance_iam_encrypteddata'); }
 .securityidentitycompliance_iam_long-termsecuritycredential { content: url('./output.svg#securityidentitycompliance_iam_long-termsecuritycredential'); }
 .securityidentitycompliance_iam_permissions { content: url('./output.svg#securityidentitycompliance_iam_permissions'); }
 .securityidentitycompliance_iam_role { content: url('./output.svg#securityidentitycompliance_iam_role'); }
 .securityidentitycompliance_iam_temporarysecuritycredential { content: url('./output.svg#securityidentitycompliance_iam_temporarysecuritycredential'); }
 .storage_awssnowball { content: url('./output.svg#storage_awssnowball'); }
 .storage_awssnowball_importexport { content: url('./output.svg#storage_awssnowball_importexport'); }
 .storage_awsstoragegateway { content: url('./output.svg#storage_awsstoragegateway'); }
 .storage_awsstoragegateway_cachedvolume { content: url('./output.svg#storage_awsstoragegateway_cachedvolume'); }
 .storage_awsstoragegateway_non-cachedvolume { content: url('./output.svg#storage_awsstoragegateway_non-cachedvolume'); }
 .storage_awsstoragegateway_virtualtapelibrary { content: url('./output.svg#storage_awsstoragegateway_virtualtapelibrary'); }
 .storage_amazonebs { content: url('./output.svg#storage_amazonebs'); }
 .storage_amazonefs { content: url('./output.svg#storage_amazonefs'); }
 .storage_amazonefs_efsfilesystem { content: url('./output.svg#storage_amazonefs_efsfilesystem'); }
 .storage_amazonglacier { content: url('./output.svg#storage_amazonglacier'); }
 .storage_amazonglacier_archive { content: url('./output.svg#storage_amazonglacier_archive'); }
 .storage_amazonglacier_vault { content: url('./output.svg#storage_amazonglacier_vault'); }
 .storage_amazons3 { content: url('./output.svg#storage_amazons3'); }
 .storage_amazons3_bucket { content: url('./output.svg#storage_amazons3_bucket'); }
 .storage_amazons3_bucketwithobjects { content: url('./output.svg#storage_amazons3_bucketwithobjects'); }
 .storage_amazons3_object { content: url('./output.svg#storage_amazons3_object'); }
 .storage_snapshot { content: url('./output.svg#storage_snapshot'); }
 .storage_volume { content: url('./output.svg#storage_volume'); }
